@font-face {
  font-family: "HKGrotesk";
  src: url("/fonts/HKGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  background-color: #e4e4e2;
}

body {
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
  line-height: 1.5;
  font-family: "HKGrotesk", sans-serif;
}

a {
  font-family: "HKGrotesk", sans-serif;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "HKGrotesk", sans-serif;
  font-size: 1rem;
  margin: 1rem 0;
}
