---
import Layout from "../layouts/Layout.astro";
---

<Layout title="how to contact?">
  <main>
    <div class="bio">
      <p>
        You can write me <a href="mailto:estebsandovalc@gmail.com">here</a> or
        contact me through any of the following social media platforms:
      </p>
      <p>
        <a href="https://www.instagram.com/estebsandoval/">instagram</a>
      </p>
      <p>
        <a href="https://twitter.com/estebsandoval">twitter</a>
      </p>
    </div>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    max-width: calc(100% * 8 / 13);
    padding-top: var(--spacing-l);
    min-height: 80vh;
  }

  .bio {
    margin-left: auto;
    max-width: calc(100% * 6 / 8);
    line-height: 1.6;
    font-size: 1.4rem;
    padding-bottom: var(--spacing-l);
  }

  @media (max-width: 700px) {
    main {
      margin: 0;
      max-width: none;
    }
    .bio {
      margin: 0;
      max-width: none;
    }
  }
</style>
