---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Who is Esteban">
	<main>
		<p class="instructions">
			Esteban Sandoval Copaja is a design engineer. He’s also a creative coder, makeup enthusiast, and paper note-taker.

His interests include visual narratives, visual poetry, data visualization, typography, systems and interaction. His work uses technology as part of the creative process, either as an exploratory mechanism or the actual object of study.

He’s currently based in Santiago, Chile and is working as a design engineer at Design Systems International.
		</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: #000000;
		font-size: 20px;
		line-height: 1.6;
	}
	.instructions {
		margin-bottom: 2rem;
	}
</style>
