---
interface Props {
    label: string,
    href: string,
    selected: boolean
}

const {label, href, selected} =  Astro.props;
---

<button class="button">
    <a href={href}>
        {label}
    </a>
</button>
<style>
    .button{
        display: block;
        height: 80px;
        width: 80px;
        border-radius: 5px;
        padding: 0;
        color: rgba(0,0,0,75%);
        border: 1px solid rgba(0,0,0,75%);
        background-color: #E4E4E2;
    }

    .button:hover{
        background-color: rgba(0,0,0,75%);
        color: white;
    }
    
    .button a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: inherit;
        text-decoration: none;
        width: 100%;
        height: 100%;
    }
</style>
