---
import Button from "./Button.astro";
---

<header>
  <nav class="nav">
    <Button label="esc" href="/" isSelected={false} />
    <div class="nav-group">
      <Button label="w" href="/" isSelected={false} />
      <Button label="?" href="/who" isSelected={false} />
      <Button label="@" href="/contact" isSelected={false} />
    </div>
  </nav>
</header>

<style>
  .nav {
    display: flex;
    justify-content: space-between;
  }

  .nav-group {
    display: flex;
    gap: 15px;
  }

  @media (--small) {
    .nav-group {
      gap: 10px;
    }
  }
</style>
