---
import Button from './Button.astro';
---

<nav class="nav">
    <Button label="esc" href='/' selected={false}/>
    <div class="nav-group">
        <Button label="w" href='/work' selected={false}/>
        <Button label="?" href='/who' selected={false}/>
        <Button label="@" href='/contact' selected={false}/>
    </div>
</nav>

<style>
    .nav{
        display: flex;
        margin: 16px 30px;
        justify-content: space-between;
    }

    .nav-group{
        display: flex;
        gap: 15px;
    }
</style>